<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Car models</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Base price
                </th>
                <th>
                    Details
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tr th:each="carModel : ${carModels}">
                <td th:text="${carModel.name}"></td>
                <td th:text="${carModel.type}"></td>
                <td th:text="${carModel.basePrice}"></td>
                <td><a href="#" th:href="@{'carModels/' + ${carModel.id} + '/details'}">Details</a></td>
                <td><a href="#" th:href="@{'carModels/' + ${carModel.id} + '/edit'}">Edit</a></td>
                <td><a href="#" th:href="@{'carModels/' + ${carModel.id} + '/delete'}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
    <a th:href="@{'carModels/new'}"><button class="btn btn-primary">New model</button></a>
    </div>
</div>
</body>
</html>