<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Clients</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Birth date
                </th>
                <th>
                    CNP
                </th>
                <th>
                    Orders
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tr th:each="client : ${clients}">
                <td th:text="${client.name}"></td>
                <td th:text="${client.birthdate}"></td>
                <td th:text="${client.CNP}"></td>
                <td><a th:each="order : ${client.purchaseOrders}" th:text="${order.code} + ' , '" th:href="@{'orders/' + ${order.id} + '/details'}"></a></td>
                <td><a href="#" th:href="@{'clients/' + ${client.id} + '/edit'}">Edit</a></td>
                <td><a href="#" th:href="@{'clients/' + ${client.id} + '/delete'}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <a th:href="@{'clients/new'}"><button class="btn btn-primary">Add client</button></a>
    </div>
</div>
</div>
</body>
</html>