<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Order form</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="col-md-6 col-md-offset-2">
    <form th:object="${order}" th:action="@{/orders/}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="control-label">Code:</label>
            <input class="form-control" type="text" th:field="*{code}" required/>
        </div>
        <div class="form-group">
            <label class="control-label">Cost:</label>
            <input class="form-control" type="number" th:field="*{cost}" required/>
        </div>
        <div class="form-group">
            <label class="control-label">Is completed:<input class="form-control" type="checkbox" th:field="*{completed}"/></label>
        </div>
        <div class="form-group">
            <label class="control-label">Request date:</label>
            <input class="form-control" type="date" th:field="*{requestDate}" required/>
        </div>
        <div class="form-group">
            <label class="control-label">Factory:</label>
            <select class="form-control" th:field="*{factory.id}" required>
                <option th:each="factory : ${factories}"
                        th:value="${factory.id}"
                        th:selected="${factory.id.equals(order.factory.id)}"
                        th:text="${factory.name}">Factory</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Client:</label>
            <select class="form-control" th:field="*{client.id}" required>
                <option th:each="client : ${clients}"
                        th:value="${client.id}"
                        th:selected="${client.id.equals(order.client.id)}"
                        th:text="${client.name}">Client</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>