<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Order details</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
<h2 th:text="${order.code}"></h2>
    <h4>Cars:</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>
                    VIN
                </th>
                <th>
                    Fabrication date
                </th>
                <th>
                    Model
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tr th:each="car : ${order.cars}">
                <td th:text="${car.vinNumber}"></td>
                <td th:text="${car.fabricationDate}"></td>
                <td th:text="${car.carModel.name}"></td>
                <td><a href="#" th:href="@{'/orders/' + ${order.id} + '/details/cars/' + ${car.id}}">Edit</a></td>
                <td><a href="#" th:href="@{'/cars/' + ${order.id} + '/delete/' + ${car.id}}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <a th:href="@{'details/newCar'}"><button class="btn btn-primary">Add car</button></a>
    </div>
</div>
</body>
</html>