<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Part form</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="col-md-6 col-md-offset-2">
    <form th:object="${part}" th:action="@{/parts/}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="control-label">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" required/>
        </div>
        <div class="form-group">
            <label class="control-label">Quantity:</label>
            <input class="form-control" type="number" th:field="*{quantity}" required/>
        </div>
        <div class="form-group">
            <label class="control-label">Description:</label>
            <input class="form-control" type="text" th:field="*{description}" required/>
        </div>

        <div class="form-group">
            <label class="control-label">Factory:</label>
            <select class="form-control" th:field="*{factory.id}" required>
                <option th:each="factory : ${factories}"
                        th:value="${factory.id}"
                        th:selected="${factory.id.equals(part.factory.id)}"
                        th:text="${factory.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Suppliers: </label>
            <div class="form-check">
            <input class="form-check-input" th:each="supplier : ${suppliers}" th:text="${supplier.name}" type="checkbox" th:field="*{supplierIds}" th:value="${supplier.id}"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>

    </form>
</div>
</body>
</html>